In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("steam_all.txt", sep="\t", parse_dates=["DateStamp", "SalesDate"])
df

,DateStamp,SalesDate,SteamProductId,ProductTitle,Type,TitleName,Platform,Country,PurchaseQuantity,NetSteamSalesUSD
0,2012-01-07,2012-01-01,8263,Fable 3 Understone Quest Pack,Steam,Fable III - Understone Quest Pack,Windows,South Africa,1,2.4900
1,2012-01-07,2012-01-01,8259,Fable 3 Traitor's Keep Quest Pack,Steam,Fable III - Traitor's keep Quest Pack,Windows,Spain,1,3.6384
2,2012-01-07,2012-01-01,8262,Fable 3 Dog Outfit,Steam,Fable III - Dog Outfit,Windows,Australia,1,0.9900
3,2012-01-07,2012-01-01,13123,Fable The Lost Chapters,Steam,Fable - The Lost Chapters,Windows,Romania,1,4.6036
4,2012-01-07,2012-01-01,13123,Fable The Lost Chapters,Steam,Fable - The Lost Chapters,Windows,South Africa,3,14.9700
...,...,...,...,...,...,...,...,...,...,...
5660160,2023-09-16,2023-09-10,759287,Microsoft Flight Simulator: 40th Anniversary S...,Steam,Microsoft Flight Simulator,Windows,Hong Kong,3,160.1700
5660161,2023-09-16,2023-09-10,766084,Age of Empires II: Definitive Edition - Return...,Steam,Age of Empires II: Definitive Edition - Return...,Windows,New Zealand,4,44.6833
5660162,2023-09-16,2023-09-10,770728,Age of Empires III: Definitive Edition – Hero ...,Steam,Age of Empires III: Definitive Edition – Hero ...,Windows,Saudi Arabia,1,2.7649
5660163,2023-09-16,2023-09-10,841014,Sea of Thieves Deluxe Bundle Upgrade,Steam,Sea of Thieves Deluxe Bundle Upgrade,Windows,Norway,3,21.3600
5660164,2023-09-16,2023-09-10,919028,Forza Motorsport Premium Edition,Steam,Forza Motorsport Premium Edition,Mac,Italy,1,87.7715

In [6]:
len(df.TitleName.unique())

1070

In [8]:
releases = df.pivot_table(index="TitleName", values="SalesDate", aggfunc=np.min)
releases.loc[releases.SalesDate < "2023-06-01", "Publisher"] = "Xbox"
releases

                                                    SalesDate Publiser
TitleName
 FSX: Steam Edition - Monster Mission Edition      2016-12-14     Xbox
Aeolus                                             2021-04-27     Xbox
Age of Empires 25th Anniversary Collection (ret... 2022-12-04     Xbox
Age of Empires Anthology (retail)                  2021-10-11     Xbox
Age of Empires Definitive Collection (retail)      2020-10-09     Xbox
...                                                       ...      ...
Woodstock Test - Expansion 1                       2022-02-25     Xbox
Woodstock Test - Expansion 2                       2022-10-27     Xbox
XGS Midnight                                       2022-10-03     Xbox
Zoo Tycoon                                         2018-07-18     Xbox
pinball FX2 - Iron &amp;amp; Steel Pack            2015-02-25     Xbox

[1070 rows x 2 columns]

In [9]:
releases.to_csv("title_publisher.csv")

In [13]:
df[df.TitleName == "Wolf Pack"]

,DateStamp,SalesDate,SteamProductId,ProductTitle,Type,TitleName,Platform,Country,PurchaseQuantity,NetSteamSalesUSD
4937656,2023-06-03,2023-06-01,770867,Wolf Pack,Steam,Wolf Pack,Windows,Hungary,1,8.4687
4938545,2023-06-03,2023-06-01,770867,Wolf Pack,Steam,Wolf Pack,Windows,Netherlands,1,8.8879
4938773,2023-06-03,2023-06-01,770867,Wolf Pack,Steam,Wolf Pack,Windows,Ukraine,1,5.8692
4942137,2023-06-03,2023-06-02,770867,Wolf Pack,Steam,Wolf Pack,Windows,Ukraine,3,17.6075
4942424,2023-06-03,2023-06-02,770867,Wolf Pack,Steam,Wolf Pack,Windows,Finland,1,8.6732
...,...,...,...,...,...,...,...,...,...,...
5647018,2023-09-09,2023-09-08,770867,Wolf Pack,Steam,Wolf Pack,Windows,Czech Republic,1,8.8305
5652470,2023-09-09,2023-09-09,770867,Wolf Pack,Steam,Wolf Pack,Windows,Netherlands,1,8.8470
5654721,2023-09-09,2023-09-09,770867,Wolf Pack,Steam,Wolf Pack,Windows,Australia,1,8.6812
5656855,2023-09-09,2023-09-09,770867,Wolf Pack,Steam,Wolf Pack,Windows,United Kingdom,3,24.9561
5657319,2023-09-09,2023-09-09,770867,Wolf Pack,Steam,Wolf Pack,Windows,Turkey,1,2.7585